/* ====== NAVBAR ====*/

.navbar{
margin-bottom: 0px;
}

.navbar-custom {
  background-color: #64a8d1;
    color:#ffffff;
    border-radius:0;
}
  
.navbar-custom .navbar-nav > li > a {
    color:#fff;
    padding-left:20px;
    padding-right:20px;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
  background-color:transparent;
}
      
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: underline;
    background-color: #64a8d1;
}
      
.navbar-custom .navbar-brand {
    color:#fff;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color: #64a8d1;
}

/* ====== END NAVBAR ====*/

/* ====== FOOTER ====*/

.footer {
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #eee;
}

/* ====== END FOOTER ====*/

/* ===== JUMBOTRON =======*/

.jumbotron {
  margin-top: 0px;
  text-align: left;
  /*background-color: transparent;*/
  padding: 30px;
  /*background-color: #64a8d1;*/
  background: url('../imagenes/2.jpg') no-repeat center center;
}
.jumbotron h1{
  font-size: 2em;
  color: #fff;
}
.jumbotron p{
  color: #E6E6E6;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-bottom: 10px;
  padding-top: 10px; 
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;

}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

ul.nav.nav-pills.nav-stacked{
  background-color: inherit;
  border-style: ridge;
  box-shadow: 10px 10px 5px #888888;
}

.centrar{
  text-align: center;
}


/* ------------*/


/* LOGOS AND ICONS
======================== */
.brand{
  width: 100px;
  height: 20px;
  background: url(imagenes/lightbulb_64px.png) no-repeat;
}

.col-md-8 .col-md-offset-1 .espacio .espacioim{
  margin-right: 3px;
}

/* PANEL HEADING AHORA se puede pinchar todo el botón, antes solo las letras */
.panel-heading a{
  display: block;
}

.contenido_estatico{
  font-size: 1.25em;
  text-align: center;
}