
/* ====== NAVBAR ====*/

.navbar{
margin-bottom: 0px;
}

.navbar-custom {
  background-color: #fff;
    color:#000;
    border-radius:0;
    border-bottom: 1px solid #eee;
}
  
.navbar-custom .navbar-nav > li > a {
    color:#000;
    padding-left:20px;
    padding-right:20px;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #fff;
    background-color:transparent;
}
      
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    background-color: #545353;
    color: #fff;
}
      
.navbar-custom .navbar-brand {
    color:#000;
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5em; 
}
.navbar-custom .navbar-toggle {
    background-color:#000;
}
.navbar-custom .icon-bar {
    background-color: #eee;
}

/* ====== END NAVBAR ====*/

/* ====== FOOTER ====*/

.footer {
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #eee;
}

/* ====== END FOOTER ====*/

/* ===== JUMBOTRON =======*/

.jumbotron {
  margin-top: 0px;
  background: url('../imagenes/one.jpg');
  background-position: 0% 55%;
  background-size: cover;

  
}
.jumbotron h1{
  color: #fff;
  /*text-transform: uppercase;*/
  font-size: 2.25em;
}
.jumbotron p{
  color: #3476AF;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-bottom: 10px;
  padding-top: 10px; 
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;

}
.marketing h2 {
  font-weight: normal;
  font-size: 2em;
  
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

ul.nav.nav-pills.nav-stacked{
  background-color: inherit;
  border-style: ridge;
  box-shadow: 10px 10px 5px #888888;
}

.centrar{
  text-align: center;
}


/* ------------*/


/* LOGOS AND ICONS
======================== */
.brand{
  width: 100px;
  height: 20px;
  background: url(imagenes/lightbulb_64px.png) no-repeat;
}

.col-md-8 .col-md-offset-1 .espacio .espacioim{
  margin-right: 3px;
}

/* PANEL HEADING AHORA se puede pinchar todo el botón, antes solo las letras */
.panel-heading a{
  display: block;
}

.contenido_estatico{
  font-size: 1.25em;
  text-align: center;
}

.pull-left{
  margin-left: 1em;
}

/*cambio botones index*/
.btn-me{
  color: #fff;
  background-color: #333333;
}
.btn-me:hover,
.btn-me:focus,
.btn-me:active,
.btn-me.active,
.open .dropdown-toggle.btn-me {
  color: #fff;
  background-color: #545353;
  border-color: #545353;
}

mark{
  background: #FFC227;
}