body{
	font-family:'Open Sans',sans-serif;
	color:#373737;
	background-color: #f0efe7;
}

a{
	color: #1c94c6;
	text-decoration: none;
}

a.hover{
	color: #FF461A;
}

h1{
	color: #1c94c6;
}

h2{
	color: #f14e32;
}

h2 img{
	float: left;
	margin: 0 5px 0 0;
}

nav{
	background-color: #1c94c6;
	border-radius: 4px;
}

nav ul{
	list-style:none;
    margin:0 10px 0 10px;
    padding:0;
}

nav ul li{
	border-radius:5px;
	text-align:center;
	display:inline;
}
nav ul li a{

}

nav ul li a:hover{
	border-radius: 2px;
}

li {
	font-size: 1.5em;
	line-height: 2em;
	margin-right: 0.4em;
	list-style:none;
}

li a {
	color: #fff;
	background-color: #1c94c6;
	padding: 0.2em 0.4em;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 4px;

	text-decoration: none;

	/*-webkit-transition: background-color 0.2s;*/
}

li a:hover {
	background-color: #FFBE1A;
	text-decoration: none;
	/*-webkit-transition: background-color 0.2s;*/
}

li a:active {
	background-color: #C6006C;
	text-decoration: none;
	/*-webkit-transition: background-color 0.1s;*/
}

.explicacion{
	text-align: center;
}

.cursos{
	text-align: center;
}

footer{
	background-color: #1c94c6;
	border-radius: 4px;
}

footer ul{
	list-style:none;
    margin:0 10px 0 10px;
    padding:0;
}

footer ul li{
	border-radius:5px;
	text-align:center;
	display:inline;
}
footer ul li a{

}

footer ul li a:hover{
	border-radius: 2px;
}

@media (max-width: 500px){
        
      h1{
        font-size: 36px;
      }  
        
      ul{
        display: block;
        padding: 5px;
      }
    }
